<div class="container-fluid ps-md-0">
    <div class="row g-0">
      <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
      <div class="col-md-8 col-lg-6">
        <div class="login d-flex align-items-center py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-8 mx-auto">
                <h3 class="login-heading mb-4">Welcome!</h3>
                <form (ngSubmit)="Login()">
                  <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="email" name="Email"  [(ngModel)]="user.Email">
                    <label for="floatingInput">Email address</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="Password" [(ngModel)]="user.Password">
                    <label for="floatingPassword">Password</label>
                  </div>
  
                  <div class="d-grid">
                    <button class="btn btn-lg btn-info btn-login text-uppercase fw-bold mb-2" type="submit">LOGIN</button>
                    <div class="text-center">
                        <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <a routerLink="/register" type="button" style="color: #393f81;">Register here</a></p>    
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  